html {
    background: white;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    /* color: rgb(255, 0, 255); */
    color: black;
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */
    z-index: 100;
    /* background-color: #191919; */
    /* background-color: #e9e9e9bd; */
    padding: 15px;
    transition: all ease-in-out .2s
    /* text-transform: uppercase; */
    /* background */
}

.header h1{
    top: 0;
    margin-top: 2px;
    margin-left: 9vw;
    cursor:pointer;
}

.page-1{
    position: absolute;
    height: 200%;
    width: 100%;
    /* top: 0%;
    left: 0%; */
    /* background-image: linear-gradient(to bottom right, #f4c4f3,#fc67fa); */
    /* background-image: url("../img/restaurant.jpg"); */        
    background-image: url("../img/fuckkkkkk.svg");
    background-size: auto 200%;
    background-repeat:no-repeat;
    
    background-attachment: fixed;
    /* background-position: center center; */
    /* background-size: cover; */
}

.page-1 h1{
    margin: 30vh 50vw;
    width: 100vw;
    font-size: 2.8rem;
}

.page-1 h2{
    margin: -25vh 60vw;
    width: 100vw;
}

.nav-buttons{
    /* margin-top: 8px; */
    display: flex;
    justify-content: space-between;
}

.nav-buttons .container {
    display: flex;
    margin-right: 1vw;
}

.nav-button {
    background-color: #dddddd;
    border-radius: 20px;
    color: black;
    padding: 11px 40px;
    /* height: 15px; */
    cursor: pointer;
    transition: ease-in-out .15s;
    margin: 0px 1.5vw;
}

.nav-button:hover{
    background-color: #bbbbbb;
    background-color: #ff00bf;
    color: white;    
}

#black-fade-out{
    position:fixed;
    /* background-color: black; */
    width:100%;
    height:100%;
    margin: 0;
    transition: all ease-in-out .2s;
    pointer-events: none;
    z-index: 999;
}

.page-2{
    position: absolute;
    height: 70%;
    width: 100%;
    top: 100%;
    left: 0%;
    /* background-image: linear-gradient(to bottom right, #f4c4f3,#fc67fa); */
    background: rgb(30, 30, 30);
    color: white;
}
.page-2 h1{
    margin: 18vh 20vw;
}

.page-2 p{
    position: absolute;
    width: 50vw;
    left: 50vw;
    top: 30vh;
    transform: translateX(-50%);
}
/* 
.content{
    width: 100%;
} */

.sign-in-with-google{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 10px 15px;
    background-color: white;
    border-radius: 100vw;
    border: solid rgb(206, 206, 206);
    border-width: 1px 1px;
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 20px;
    color: grey;
    cursor: pointer;
    outline: none;
    margin: auto;
}

.sign-in-with-google .container{
    display: flex;
}

.sign-in-text{
    padding-top: 3px;
}

.google-login-logo{
    margin-right:20px;
}
.account-button img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 3vw;
}

.account-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.profile-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/fuckkkkkkk.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: right;
    overflow: hidden;
    z-index: -1;
}

.profile-content{
    position: absolute;
    top: 30vh;
    left: 30vw;
    transform: translate(-50%,-50%);
    text-align: left;
    font-family: 'Poppins';
    border-width: 1px 1px;
    padding: 50px;
}

#username{
    font-weight: 700;
    font-size: 30px;
    margin: 5px 10px;
}

#email{
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

#address{
    font-weight: 500;
    font-size: 20px;
    margin-top: 0px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

#address:focus{
    outline:none;
    overflow:hidden;
}

#address:hover{
    background-color: rgb(226, 226, 226);
}

#enter-to-submit{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 10px;
    opacity: 0;
}

#coordinates{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 12px;
}

#interests{
    padding:10px;
}

.interest{
    margin-top: 15px;
    margin-right: 10px;
}

.discover-page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.discover-page #title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24vh;
    z-index: 10;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input{
    width: 15vw;
    height: 5vh;
    border-radius: 50vw;
    background-color: #dddddd;
    border: none;
    outline: none;
    padding: 0 1.5vw;
    margin: 0.5vh 0;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    color: #555555;
}

.form button{
    width: 18vw;
    height: 5vh;
    border-radius: 50vw;
    border: none;
    outline: none;
    margin: 3.5vh 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    background-image: linear-gradient(to right, #F411EE, #0AA5E2);
    color: white;
    cursor: pointer;
}

::placeholder {
    opacity: 1;
    color: #999999;
}

.form input:focus {outline:0;}
.form button:focus {outline:0;}
